<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <ul>
    <li>Nom : {{info.nom}}</li>
    <li>Email : {{info.email}}</li>
    <li>Tem : {{info.tel}}</li>
  </ul>
  <div>
    <input type="text" name="" id="" [(ngModel)]="comment.message">
    <button  (click)="addComment()" [disabled]="newComment">Add Comment</button>

    {{comment.message}}
  </div>
  <div *ngIf="comments.length>100" :else="noComments">
    <h4>List of Messages</h4>
    <li *ngFor="let i of comments">
   {{i.id}} ----   {{i.date}} -- {{i.message}}
   <button (click)="deleteComment(1)">Delete Comment</button>
    </li>
  </div>
  <ng-template #noComments>
    <h1>no comm</h1>
  </ng-template>

</body>
</html>
